<div class="grid-container">
    <div class="grid-item" *ngFor="let product of products">Box 
        <div class="product-image">
            <img width=100% height=100% src="../../../assets/icons/shoes.PNG" />
        </div>
        <div class="product-detail">{{product.productName}}</div>
        <div class="product-price" >${{product.price}} </div>
        <div class="product-rating">Ratings: {{product.rating}}</div>
        <div  class="button"><a (click)="addToCart(product.productId)"><button class="add-button">Add to cart</button></a></div>
    </div>
     

</div>