<div class="container">
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-card">
        <h1>Register</h1>
      <div class="form-control">
        <label>Name</label>
        <div>
          <input placeholder="Enter Name" type="text" formControlName="username" />
        </div>
        <div class="invalid">
          <div *ngIf="f['username'].touched && f['username'].invalid">
            <div *ngIf="f['username'].errors && f['username'].errors['required']">
              User name is Required
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-control">
        <label>E-mail Address</label>
        <div>
          <input placeholder="Enter Email" type="text" formControlName="email" />
        </div>
        <div class="invalid">
          <div *ngIf="f['email'].touched && f['email'].invalid">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">
              Email is required.
            </div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']">
              Email must be a valid email address.
            </div>
          </div>
        </div>
      </div>
      <div class="form-control">
        <label>Password</label>
        <div>
          <input placeholder="Enter Password" type="password" formControlName="password" />
        </div>
        <div class="invalid">
          <div *ngIf="f['password'].touched && f['password'].invalid">
            <div *ngIf="f['password'].errors && f['password'].errors['required']">
              Password is required
            </div>
            <div
              *ngIf="f['password'].errors && f['password'].errors['minlength']"
            >
              Minimum length is 8
            </div>
            
          </div>
        </div>
      </div>
  
      
      <div class="form-control">
        <button class="btn" [disabled]="!registerForm.valid" type="submit">
          Register
        </button>
      </div>
      <div class="dont-container">
        <div ></div>
        <a class="forgot-btn" routerLink="/login">Already Have an Account? </a>
        <div></div>
      </div>
    </div>
    </form>
  </div>
  