
<p>login works!</p>
<div class="container">
    <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-card">
        <h1>Sign In</h1>
        <div class="form-control">
          <label>Username</label>
          <div>
            <input
              type="text"
              formControlName="username"
              placeholder="Enter Your Name"
            />
          </div>
          <div class="invalid">
            
              <div *ngIf="f['username'].errors && f['username'].errors['required']">
                Username is required.
              </div>
              
            </div>
          
        </div>
  
        <div class="form-control">
          <label> Password</label>
          <div>
            <input
              type="password"
              formControlName="password"
              placeholder="Enter Your Password"
            />
          </div>
          <div class="invalid">
            <div
              *ngIf="
                f['password'].invalid &&
                (f['password'].dirty || f['password'].touched)
              "
            >
              Password is required.
            </div>
            
          </div>
        </div>
  
        <div class="form-control">
          <button type="submit" class="btn">Sign In</button>
        </div>
        <div class="dont-container">
          <div ></div>
          <a class="forgot-btn" routerLink="/register">Don't have an account? </a>
          <div></div>
        </div>
      </div>
    </form>
  </div>
  